@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 70%;
    height: auto;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    opacity: 0.7; /* Torna a imagem 70% opaca */
}

a{
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
    background-image: url('images/fundo3.png');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Faz o fundo permanecer fixo ao rolar a página */
    padding-top: 80px; /* Ajuste conforme a altura da barra de navegação */
    
    /* Overlay para adicionar o efeito de desfoque */
    position: relative; /* Define o body como o contêiner para o overlay*/
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411); /* Escurece um pouco a imagem de fundo */
    backdrop-filter: blur(0px); /* Aplica desfoque ao fundo */
    z-index: -1; /* Garante que o overlay fique atrás do conteúdo */
}


nav{
    position: fixed; /* Deixa a navegação fixa */
    top: 0; /* Posiciona no topo da página */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    padding: 1.4rem; /* Ajuste o padding se necessário */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    background-color: #000; /* Fundo preto */
    border-bottom: 2px solid #2894a7; /* Linha verde embaixo */
    z-index: 1000; /* Garante que a navegação fique acima de outros elementos */
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1e40af;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    height: 100vh; /* Define a altura do cabeçalho para 100% da altura da tela */
}

/* auimentando altura do nav */
.header {
    padding-top: 80px; /* Adiciona espaço para a altura da navbar */
    margin-top: -80px; /* Remove o espaço que a navbar cobre */
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 4rem;
}

/* Estilizando o texto dentro do cabeçalho */
header .content h1 span {
    /* Torna o texto transparente com contorno branco */
    /* -webkit-text-fill-color: transparent; */
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Adiciona um contorno branco ao texto */
    font-size: 0.8em; /* Define o tamanho da fonte */
    font-weight: bold; /* Define o peso da fonte como negrito */
    text-transform: uppercase; /* Converte o texto para maiúsculas */
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.5); /* Adiciona sombra ao texto */
}



header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}


header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Altera para que os cards se ajustem responsivamente */
    gap: 2rem;
}

.features .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #1e40af;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.socials {
    text-align: center;
    margin-top: 20px;
}

.socials a {
    display: inline-block;
    color: #555; /* Adjusted color for better readability */
    background-color: #fff; /* Background color added */
    border: 1px solid #000000;
    padding: 8px 15px; /* Increased padding for better spacing */
    font-size: 1rem; /* Adjusted font size */
    border-radius: 20px; /* Adjusted border radius for a rounder shape */
    transition: all 0.3s ease;
    margin-right: 10px; /* Add margin-right for space between icons */
    text-decoration: none; /* Remove default underline */
}

.socials a i {
    margin-right: 8px; /* Adjusted space between icon and text */
}

.socials a:hover {
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}




footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}

.links {
    margin-top: 1rem; /* Espaçamento superior para separar dos parágrafos */
}

.links a {
    display: inline-block;
    margin-right: 1rem; /* Espaçamento entre os links */
    color: #6acfca !important; /* Cor verde dos links */
    transition: color 0.3s ease; /* Transição suave */
}

.links a:hover {
    color: #ffffff !important; /* Muda a cor para branco ao passar o mouse */
}
.screenshots {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 250%; /* Largura total desejada */
    height: 500px; /* Ajuste a altura conforme necessário */
    border-radius: 15px; /* Arredondar bordas */

}

.screenshots img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Largura automática para evitar cortes */
    height: 100%; /* Ajusta a altura para preencher o contêiner */
    max-width: none;
    object-fit: cover; /* Cobre o espaço sem distorcer */
    display: none; /* Esconde todas as imagens inicialmente */
    border-radius: 0; /* Remove bordas arredondadas */
    transition: opacity 0.5s ease; /* Transição suave ao mostrar/esconder imagens */
    border-radius: 15px; /* Arredondar bordas das imagens */

}

.screenshots img.active {
    display: block; /* Mostra a imagem ativa */
    opacity: 1; /* Define opacidade total para a imagem ativa */
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .screenshots {
        width: 100%; /* Ajusta a largura para 100% em dispositivos móveis */
        height: auto; /* Permite que a altura seja automática */
    }

    .screenshots img {
        height: auto; /* Altura automática para manter a proporção */
        width: 100%; /* Largura total em dispositivos móveis */
        position: relative; /* Muda a posição para relativa */
        top: 0; /* Reseta a posição vertical */
        left: 0; /* Reseta a posição horizontal */
        transform: none; /* Remove a transformação */
    }
}

.nav-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #1d4ed8;
}

.nav-dots {
    position: absolute;
    bottom: 94px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: rgba(255, 255, 255, 1);
}

.dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.scroll-indicator {
    margin-top: 20px; /* Espaçamento acima do ícone */
    font-size: 2rem; /* Tamanho do ícone */
    color: #fff; /* Cor do ícone */
    animation: bounce 1.5s infinite; /* Efeito de bounce */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
.scroll-icon {
    position: absolute;
    bottom: 80px; /* Ajuste para que a seta fique acima do conteúdo */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2rem;
    transition: opacity 0.3s ease;
    opacity: 1; /* Inicialmente visível */
}


/* Estilo para a seção das ferramentas utilizadas */
.tools-used {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #1e40af; /* Linha divisória */
}

.tools-used i {
    font-size: 2rem; /* Tamanho dos ícones */
    transition: transform 0.3s ease; /* Efeito de transição */
}

.tools-used i:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}
